{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block title %}{{ review.heading }}{% endblock %}

{% block content %}
<div class="overlay2"></div>
<div class="row">
    <div class="col-12 text-center mt-5">
        <h3 class="text-dark">Review : {{ review.heading }}</h3>
        <h5 class="text-dark">Review by: {{ review.author }}</h5>
        <h5 class="text-dark">Review date : {{ review.created_at }}</h5>
    </div>
</div>
<div class="row pt-2">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <h5><strong>Add a comment</strong></h5>

        <form class="enq-form" method="post">
            {% csrf_token %}
            {% for field in comment_form %}
            {{ field | as_crispy_field }}
            {% endfor %}
            <button class="btn-black" type="submit" id="enq-button">Submit Comment</button>
        </form>
    </div>
</div>
<div class="row mt-5">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <h5 class="text-primary"><strong>All comments</strong></h5>
        {% if comments %}
        {% for comment in comments %}
        <p class="text-success">Comment {{ forloop.counter }} by {{ comment.user }}</p>
        <p>Date: {{comment.created_at }}</p>
        <p>{{ comment.body|linebreaks}}</p>
        <hr>
        {% endfor %}
        {% else %}
        <h3>Be the first to leave a comment on this review!</h3>
        {% endif %}
    </div>
</div>
{% endblock %}