{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row mt-5">
    <div class="col-8 text-center col-md-10 mx-auto mt-5">
        <div class="row text-center">
            <h1><strong>New Review</strong></h1>
        </div>
        <div class="row">
            <form class="enq-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                {{ field | as_crispy_field }}
                {% endfor %}
                <button class="btn-black mb-2" type="submit" id="enq-button">Submit Review</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}