<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="plant-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plant-link">
                <a href="" class="dropdown-item">Thrillers</a>
                <a href="" class="dropdown-item">Fillers</a>
                <a href="" class="dropdown-item">Spillers</a>
                <a href="" class="dropdown-item">All Plants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="seeds-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seeds
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="seeds-link">
                <a href="" class="dropdown-item">Chilli</a>
                <a href="" class="dropdown-item">Fruit </a>
                <a href="" class="dropdown-item">Vegetable </a>
                <a href="" class="dropdown-item">All Seeds</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="trees-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Trees
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="trees-link">
                <a href="" class="dropdown-item">Fruit Trees</a>
                <a href="" class="dropdown-item">Non-Fruit Trees</a>
                <a href="" class="dropdown-item">All trees</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="equipment-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="" class="dropdown-item">All equipment</a>
            </div>
        </li>
    </ul>
</div>