{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row mt-5">
    <div class="col-12 col-md-4 text-center">
        <h1><strong>Contact Us</strong></h1>
        <h5><i class="fa-solid fa-phone"></i> +353-87-1111999</h5>
        <h5><i class="fa-regular fa-envelope"></i> greenfingers.ie</h5>
    </div>
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <div class="row text-center">
            <h1><strong>Make an Enquiry</strong></h1>
        </div>
        <div class="row">
            <form class="enq-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                {{ field | as_crispy_field }}
                {% endfor %}
                <button class="btn-black" type="submit" id="enq-button">Submit Enquiry</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}